@using MVC_SYSTEM.ClassBudget;
@using MVC_SYSTEM.Class;

@{
    //ViewBag.Title = "Perbelanjaan HQ (Susutnilai Untuk Tahun 2023 (Keseluruhan))";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    
    int i = 1;
    int yearW = DateTime.Now.Year;

}
<link href="~/Content/PagedList.css" rel="stylesheet" />
@*<script src="~/Asset/select2/dist/js/select2.js"></script>*@
<link href="~/Asset/select2/dist/css/select2.min.css" rel="stylesheet" />
<style type="text/css">
    .panel-success > .panel-heading {
        color: white;
        background-color: #5cb85c;
        border-color: #4cae4c;
        font-weight: normal;
    }
</style>
<div id="UpdateProgress1" style="display:none;">
    <div class="progressTest">
        <label>
            @GlobalResEstate.msgWait
        </label>
    </div>
</div>
<section class="content-wrapper main-content clear-fix">

    <div class="well" style="margin-bottom: 10px">

        @using (Html.BeginForm())
        {
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="panel panel-success">
                        <div class="panel-heading">@ViewBag.Title</div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-sm-3">
                                    <label id="year">@GlobalResEstate.lblYear</label>
                                    @Html.DropDownList("SearchStringYear", null, htmlAttributes: new { @class = "form-control", ViewBag.SearchStringYear })
                                </div>
                                <div class="col-sm-6">
                                    <label id="costCenter">Cost Center</label>
                                    @Html.DropDownList("SearchStringCC", null, htmlAttributes: new { @class = "form-control select2", ViewBag.SearchStringCC })
                                </div>
                                <div class="col-sm-3">
                                    <label id="JnsPaparanlist">Jenis Paparan</label>
                                    @Html.DropDownList("SearchStringpaparan", new List<SelectListItem>{
                                        new SelectListItem { Value = "0", Text = "Please Select" },
                                        new SelectListItem { Value = "1", Text = "Setahun" },
                                        new SelectListItem { Value = "2", Text = "Mengikut Bulan" }
                                    }, htmlAttributes: new { @class = "form-control", onchange = "SelectedIndexChanged(this)", @data_val = "true", @required = "required", ViewBag.SearchStringpaparan })
                                    @Html.ValidationMessage("SearchStringpaparan", "", new { @class = "text-danger" })

                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

        }

            <div class="modal-footer">

                <button type="submit" class="btn btn-primary" id="LihatRekodKeseluruhan">@GlobalResEstate.btnView.ToUpper()</button>
                @Html.ActionLink("BACK", "ExpWindListing", null, new { @class = "btn btn-warning" })
            </div>
        
    </div>
   
</section>


<script>
    $(document).ready(function () {

        $('.select2').select2({
            width: '100%'
        });
    });

    function SelectedIndexChanged(element) {

        var val = $(element).find('option:selected').val();

    }


    $("#LihatRekodKeseluruhan").click(function () {

        /* $('#divLoading').show();*/
        var year = $("#SearchStringYear").val();
        //alert(year);
        var costcenter = $("#SearchStringCC").val();
        if (costcenter == "") {
            var costcenter = 0;
        }
        //alert(costcenter);
        var jnsPaparan = $("#SearchStringpaparan").val();
        //alert(jnsPaparan);
        var param = '/?year=' + year + '&costcenter=' + costcenter;

        if (jnsPaparan == 0) {
            alert("Sila Pilih Jenis Paparan!");
            $(element).val($(element).find('option:first').val());
        }
        else if (jnsPaparan == 1) {
            location.href = "@Url.Action("_ExpWindSetahunRpt", "ExpensesWindfallTax")" + param;
            //alert("ok");

        } else {
            location.href = "@Url.Action("_ExpWindSebulanRpt", "ExpensesWindfallTax")" + param;
        }
    });

</script>
