
@{
    Layout = "~/Views/Shared/_LayoutMainBudget.cshtml";

    var screens = ViewBag.Screens as List<MVC_SYSTEM.ModelsBudget.bgt_Screen>;
}

<section class="content-wrapper main-content clear-fix">
    <div class="well">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="panel panel-success">
                        <div class="panel-heading">@ViewBag.Title</div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <label>Senarai Bajet Perbelanjaan</label>
                                    @*<select id="ExpensesList" class="form-control" name="ExpensesList" required onchange="listChange(this);">
                                            @{ var i = 1; }
                                            @foreach (var scr in screens)
                                            {
                                                var label = scr.ScrNameLongDesc;
                                                var url = "javascript:void(0);";
                                                if (string.IsNullOrEmpty(label))
                                                {
                                                    label = scr.ScrName;
                                                }
                                                if (scr.ScrCode.Equals("E9"))
                                                {
                                                    url = Url.Action("Index", "ExpensesCapital");
                                                }
                                                if (scr.ScrCode.Equals("E11"))
                                                {
                                                    url = Url.Action("Index", "Levi");
                                                }
                                                <option value="@scr.ScrID" data-url="@url">@i. @label</option>
                                                i++;
                                            }
                                        </select>*@
                                    @Html.DropDownList("ScrCode", null, htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                @*<a id="btnGo" href="javascript:void(0);" class="btn btn-primary">@GlobalResEstate.btnGo</a>*@
                <input class="btn btn-primary" type="submit" value=@GlobalResEstate.btnGo />
            </div>
        }
    </div>
</section>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            listChange('#ExpensesList');
        });

        function listChange(element) {
            var url = $(element).find('option:selected').data('url');
            $('#btnGo').attr('href', url);
        }
    </script>
}