@using MVC_SYSTEM.Class
@{
    GetConfig getconfig = new GetConfig();
}
<!DOCTYPE html>
<html>
<head>
    <meta name="format-detection" content="telephone=no" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <title>@ViewBag.Title - @getconfig.GetData("sysname")</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/Modernizrjquery")
    @Styles.Render("~/Content/jqueryui")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/MyCustomeJs")
    @if (ViewBag.DateScriptAdv == 1)
    {
        @Styles.Render("~/Content/DateTimePickerCSS2")
        @Scripts.Render("~/bundles/DateTimePickerJS2")
    }
    else
    {
        @Scripts.Render("~/bundles/DateTimePickerJS")
        @Styles.Render("~/Content/DateTimePickerCSS")
    }

    @Scripts.Render("~/bundles/CheckingJS")

    <link href="~/Asset/Flag/css/flag-icon.css" rel="stylesheet" />
    <link href="~/Asset/Content/font-awesome.min.css" rel="stylesheet" />
    <script src="~/Asset/Scripts/pdfobject.js"></script>
    <link href="~/Content/bootstrap-chosen.css" rel="stylesheet" /> <!--add by fitri 4-11-2020-->
    <script src="~/Scripts/chosen.jquery.js"></script> <!--add by fitri 4-11-2020-->

    <link href="~/Asset/select2/css/select2.min.css" rel="stylesheet" />
    <script src="~/Asset/select2/js/select2.full.min.js"></script>

    <style type="text/css">
        nav.sidebar {
            margin-left: -200px;
        }

        .maincontent {
            margin-left: 70px;
        }

        section {
            padding-left: 12px;
        }

        .panel-success > .panel-heading {
            /*color: #023020;*/
            color: #ffffff;
            background-color: #5cb85c;
            border-color: #4cae4c;
        }

        .headerviewsawit {
            color: #ffffff;
            background-color: #5cb85c;
            border-color: #4cae4c;
        }

        .select2-container .select2-selection--single {
            height: 34px;
            border: 1px solid #cccccc;
        }
        .select2-container .select2-selection--single .select2-selection__rendered {
            padding-left: 15px;
            padding-top: 2px;
        }
        .select2-container--default .select2-selection--single .select2-selection__arrow {
            top: 3px;
        }
    </style>

</head>
<body onload="StartTimers('@Url.Action("Logout", "Login", null, this.Request.Url.Scheme)',@getconfig.GetData("timeoutwarningtime"),@getconfig.GetData("timeouttime"));" onmousemove="ResetTimers('@Url.Action("Logout", "Login", null, this.Request.Url.Scheme)',@getconfig.GetData("timeoutwarningtime"),@getconfig.GetData("timeouttime"));" onkeypress="ResetTimers('@Url.Action("Logout", "Login", null, this.Request.Url.Scheme)',@getconfig.GetData("timeoutwarningtime"),@getconfig.GetData("timeouttime"));">
    @Html.Partial("_PartialHeader")
    @Html.Partial("_PartialLeftNavBudget")
    <div class="maincontent animated fadeInRight">
        @RenderBody()
    </div>
    @Html.Partial("_PartialFooter")
</body>
@Html.Partial("_PartialSweetAlert")
@RenderSection("scripts", required: false)
</html>
