<style type="text/css">
    table th.text-center {
        background-color: unset;
        
    }
    .table tbody > tr > td {
        vertical-align: middle!important;
    }
    .text-center {
        text-transform:uppercase;
    }
</style>
@using MVC_SYSTEM.ClassBudget;
@{
    bgtApproval bgtapproval = new bgtApproval();
    var grid = new WebGrid(
        canPage: true,
        rowsPerPage: Model.PageSize,
        canSort: false,
        ajaxUpdateContainerId: "grid");

    grid.Bind(Model.Content, rowCount: Model.TotalRecords, autoSortAndPage: false);

    if (grid.TotalRowCount > 0)
    {
        @grid.GetHtml(
            htmlAttributes: new { id = "grid" },
            fillEmptyRows: false,
            tableStyle: "table table-bordered table-hover",
            headerStyle: "webgrid-header",
            mode: WebGridPagerModes.All,
            columns: grid.Columns(
                grid.Column(GlobalResEstate.hdrNo, style: "text-center", format: (item) => (grid.PageIndex * grid.RowsPerPage) + grid.Rows.IndexOf(item) + 1),
                grid.Column("abev_material_code", header: "Kod Kenderaan", style: "text-center"),
                grid.Column("abev_registration_no", header: "No Pendaftaran", style: "text-center"),
                grid.Column("abev_model", header: "Jenis Kenderaan", style: "text-center"),
                grid.Column("abev_gl_expenses_code", header: "GL Perbelanjaan", style: "text-center"),
                grid.Column("abev_gl_expenses_name", header: "Keterangan GL", style: "text-center"),
                grid.Column("abev_note", header: "Jenis/Keterangan", style: "text-center"),
                grid.Column("abev_total", "Jumlah (RM)", style: "text-right", format: @<text>@item.abev_total.ToString("#,##0.00")</text>),
                grid.Column(GlobalResEstate.hdrAction, canSort: false, style: "text-center text-nowrap", format: @<text>
                @if (bgtapproval.GetBlockStatus(item.abev_cost_center_code, item.abev_budgeting_year) == true) {
                    @Html.Raw("<a disabled class='btn btn-success btn-sm'><i class='fa fa-edit'></i></a>&nbsp;")
                    @Html.Raw("<a disabled class='btn btn-danger btn-sm'><i class='fa fa-trash'></i></a>")
                }
                else
                {
                    @Html.Raw("<a href='" + @Url.Action("EditDetail", new { id = item.abev_id }) + "' class='btn btn-success btn-sm' data-edit=''><i class='fa fa-edit'></i></a>&nbsp;")
                    @Html.Raw("<a href='" + @Url.Action("DeleteDetail", new { id = item.abev_id }) + "' class='btn btn-danger btn-sm' data-delete=''><i class='fa fa-trash'></i></a>")
                }
                </text>)))
    }
    else
    {
        <hr />
        <div class="text-center text-danger">
            @Html.Label(GlobalResEstate.msgErrorSearch)
        </div>
        <hr />
    }
}

@*<script type="text/javascript">
    $(document).ready(function () {
        var thead = '<tr>' +
            '<th class="text-center" rowspan="2" style="width:1%;">@GlobalResEstate.hdrNo</th>' +
            '<th class="text-center" colspan="2">Jualan</th>' +
            '<th class="text-center" colspan="2">Belian</th>' +
            '<th class="text-center" rowspan="2">Produk</th>' +
            '<th class="text-center" rowspan="2">Jumlah (RM)</th>' +
            '<th class="text-center" rowspan="2">@GlobalResEstate.hdrAction</th>' +
            '</tr>' +
            '<tr>' +
            '<th class="text-center">Kod Cost Center</th>' +
            '<th class="text-center">@GlobalResEstate.lblGLCode</th>' +
            '<th class="text-center">@GlobalResEstate.lblGLCode</th>' +
            '<th class="text-center">@GlobalResEstate.lblGLDesc</th>' +
            '</tr>'
        $('table#grid thead').append(thead);
        $('table#grid thead').find('tr.webgrid-header').remove();
    });
</script>*@