@{
    Layout = "~/Views/Shared/_LayoutMainBudget.cshtml";
    var year = ViewBag.SelectedYear as string;
    var costCenter = ViewBag.CostCenter as string;
    bool isTemplateEnable = ViewBag.isTemplateEnable;

    AjaxOptions options = new AjaxOptions
    {
        HttpMethod = "GET",
        UpdateTargetId = "RecordsPartial",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "UpdateProgress1"
    };
}

<style type="text/css">
    .text-nowrap {
        white-space: nowrap;
    }

    tr.webgrid-header th {
        text-align: center;
    }
</style>

<div id="divLoading" style="display:none;">
    <div class="progressTest">
        <label>
            Loading...
        </label>
    </div>
</div>

<section class="content-wrapper main-content clear-fix">
    <div class="well" style="margin-bottom: 20px;">
        @using (Html.BeginForm("Index", "bgtHQExpensesCorp", FormMethod.Get))
        {
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        @Html.Label("Budget Year", htmlAttributes: new { @class = "text-nowrap" })
                        @Html.DropDownList("BudgetYear", new SelectList(ViewBag.Years, "Value", "Text"), htmlAttributes: new { @class = "form-control input-sm" })
                    </div>
                </div>
                <div class="col-md-1">
                    <label>&nbsp;</label>
                    <button type="submit" class="btn btn-primary btn-sm btn-block">@GlobalResEstate.btnView</button>
                </div>
                <div class="col-md-7"></div>
                @if (isTemplateEnable)
                {
                    <div class="col-md-2">
                        <label>&nbsp;</label>
                        <a href="@Url.Action("DownloadTemplate", new { year = year })" class="btn btn-danger btn-block">EXCEL TEMPLATE FILE</a>
                    </div>
                }
                else
                {
                    <div class="col-md-2">
                        <label>&nbsp;</label>
                        <button type="button" class="btn btn-danger btn-block disabled" style="opacity: 0.65 !important;" disabled>EXCEL TEMPLATE FILE</button>
                    </div>
                }
            </div>
        }
    </div>
    <div class="well">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-success">
                    <div class="panel-heading">@ViewBag.Title</div>
                    <div class="panel-body">
                        <div id="RecordsPartial">
                            @Html.Action("Records", new { BudgetYear = year })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr style="margin-top:0;" />
        @using (Html.BeginForm("Upload", "bgtHQExpensesCorp", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.Hidden("year", year)
            <div class="row">
                <div class="col-md-6">
                    @Html.TextBox("file", "", new { type = "file", accept = ".xls,.xlsx" })
                </div>
                <div class="col-md-6 text-right" style="margin-bottom:20px;">
                    <button type="submit" onclick=" $('#divLoading').show(); " class="btn btn-success">@GlobalResEstate.btnUploadFile.ToUpper()</button>
                    <a href="@Url.Action("Index", "ExpensesHQ")" class="btn btn-warning">@GlobalResEstate.btnBack.ToUpper()</a>
                </div>
            </div>
        }
    </div>
</section>

@section scripts{
    <script src="~/Asset/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}