@using MVC_SYSTEM.ClassBudget;
@{
    bgtApproval bgtapproval = new bgtApproval();
    var grid = new WebGrid(
        canPage: true,
        rowsPerPage: Model.PageSize,
        canSort: false,
        ajaxUpdateContainerId: "grid");

    grid.Bind(Model.Content, rowCount: Model.TotalRecords, autoSortAndPage: false);

    BudgetUserMatrix UserMatrix = new BudgetUserMatrix();//new oct
    var userid = User.Identity.Name;
    var RoleScreen = UserMatrix.RoleScreen(userid, "I3");

    if (grid.TotalRowCount > 0)
    {
        @grid.GetHtml(
            htmlAttributes: new { id = "grid" },
            fillEmptyRows: false,
            tableStyle: "table table-bordered table-striped table-list table-hover",
            headerStyle: "header_table",
            alternatingRowStyle: "Grid-alt",
            selectedRowStyle: "Grid-selected",
            rowStyle: "Grid-rowstyle",
            footerStyle: "table-pager",
            mode: WebGridPagerModes.All,
            columns: grid.Columns(
                grid.Column(GlobalResEstate.hdrNo, format: (item) => (grid.PageIndex * grid.RowsPerPage) + grid.Rows.IndexOf(item) + 1, style: "count"),
                grid.Column("abip_product_name", header: "Produk", style: "ProductDesc"),
                grid.Column("abip_grand_total_quantity", header: "Kuantiti", format: @<text>@item.abip_grand_total_quantity.ToString("#,##0.000")</text>, style: "Amount"),
                grid.Column("abip_grand_total_amount", header: "Jumlah (RM)", format: @<text> @if (item.abip_grand_total_amount != null) { @item.abip_grand_total_amount.ToString("#,##0.00")}</text>, style: "Amount"),
                grid.Column(GlobalResEstate.hdrAction, canSort: false, style: "tindakan text-nowrap", format: @<text>
                @*@if (bgtapproval.GetBlockStatus(item.abip_cost_center, item.abip_budgeting_year) == true) {
                    @Html.Raw("<a disabled class='btn btn-success btn-sm'><i class='fa fa-edit'></i></a>&nbsp;")
                    @Html.Raw("<a disabled class='btn btn-danger btn-sm'><i class='fa fa-trash'></i></a>")
                }
                else
                {*@
                    @if (!RoleScreen.edit && !RoleScreen.delete)
                    {
                        @Html.Raw("<a href='" + @Url.Action("Denied", "bgtAlert") + "' " + "' class='btn btn-success btn-sm'><i class='fa fa-edit'></i></a>&nbsp;")
                        @Html.Raw("<a href='" + @Url.Action("Denied", "bgtAlert") + "' " + "' class='btn btn-danger btn-sm'><i class='fa fa-trash'></i></a>")
                    }
                    else if (RoleScreen.edit && !RoleScreen.delete)
                    {
                        @Html.Raw("<a data-modal1='' href='" + @Url.Action("UpdateRecordsGL", "PendapatanProduk", new { CostCenter = item.abip_cost_center, BudgetYear = item.abip_budgeting_year, @*gl = item.abip_gl_code,*@ prdcode = item.abip_product_code }) + "' onclick='return DisplayProgressMessage2(this);'" + "' class='btn btn-success btn-sm'><i class='fa fa-edit'></i></a>&nbsp;")
                        @Html.Raw("<a href='" + @Url.Action("Denied", "bgtAlert") + "' " + "' class='btn btn-danger btn-sm'><i class='fa fa-trash'></i></a>")
                    }
                    else if (!RoleScreen.edit && RoleScreen.delete)
                    {
                        @Html.Raw("<a href='" + @Url.Action("Denied", "bgtAlert") + "' " + "' class='btn btn-success btn-sm'><i class='fa fa-edit'></i></a>&nbsp;")
                        @Html.Raw("<a data-modal1='' href='" + @Url.Action("DeleteRecordsGL", "PendapatanProduk", new { CostCenter = item.abip_cost_center, BudgetYear = item.abip_budgeting_year, @*gl = item.abip_gl_code,*@ prdcode = item.abip_product_code }) + "' onclick='return DisplayProgressMessage2(this);'" + "' class='btn btn-danger btn-sm'><i class='fa fa-trash'></i></a>")
                    }
                    else
                    {
                        @Html.Raw("<a data-modal1='' href='" + @Url.Action("UpdateRecordsGL", "PendapatanProduk", new { CostCenter = item.abip_cost_center, BudgetYear = item.abip_budgeting_year, @*gl = item.abip_gl_code,*@ prdcode = item.abip_product_code }) + "' onclick='return DisplayProgressMessage2(this);'" + "' class='btn btn-success btn-sm'><i class='fa fa-edit'></i></a>&nbsp;")
                        @Html.Raw("<a data-modal1='' href='" + @Url.Action("DeleteRecordsGL", "PendapatanProduk", new { CostCenter = item.abip_cost_center, BudgetYear = item.abip_budgeting_year, @*gl = item.abip_gl_code,*@ prdcode = item.abip_product_code }) + "' onclick='return DisplayProgressMessage2(this);'" + "' class='btn btn-danger btn-sm'><i class='fa fa-trash'></i></a>")
                    }
                @*}*@
        </text>)))
    }
    else
    {
        <hr />
        <div class="text-center text-danger">
            @Html.Label(GlobalResEstate.msgErrorSearch)
        </div>
        <hr />
    }
}